<tr *ngFor=" let x of destinos">
    <td>{{x}}</td>
</tr>
<form>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" placeholder="Ingrese un nombre..." #nombre>
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input type="text" class="form-control" id="url" placeholder="Ingrese una URL..." #url>
    </div>
    <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value, url.value)">Guardar</button>
  </form>
  <li *ngFor=" let x of destinos">{{x.nombre}}--{{x.url}}</li>